TestAutomationTool/node_modules
TestAutomationTool/package-lock.json
TestAutomationTool/public/bower_components
TestAutomationTool/tests
TestAutomationTool/results
TestAutomationTool/public/images/**/*.png
TestAutomationTool/public/results
TestAutomationTool/cypress/videos
TestAutomationTool/cypress/integration
TestAutomationTool/cypress/screenshots
TestAutomationTool/cucumber/node_modules
TestAutomationTool/cucumber/features/test.feature
TestAutomationTool/cucumber/errorShots
TestAutomationTool/cucumber/results.xml
TestAutomationTool/folderRepositories
UHabits/test_servers/*
diagrams/TestAutomationTool.asta.lock
MutationService/node_modules/*
MutationService/package-lock.json
