TestAutomationTool/node_modules
TestAutomationTool/package-lock.json
TestAutomationTool/public/bower_components
TestAutomationTool/tests
TestAutomationTool/results
TestAutomationTool/public/images/**/*.png
TestAutomationTool/public/results

TestAutomationTool/cypress/videos
TestAutomationTool/cypress/integration
TestAutomationTool/cypress/screenshots
