<div class="row">
    <div class="col-sm-1">
        <button class="btn btn-primary" ng-click="refreshHistoricMonkey()">Refresh</button>
    </div>
    <div class="col-sm-4 col-sm-offset-7">
        <label>Report Date: {{ monkeyReportDate }}</label>   
    </div>
</div>
<table id="monkeyResults" class="table table-striped">
    <tbody ng-repeat="monkeyResult in monkeyResults">
        <tr>
            <td>
                <p>
                    <strong>{{monkeyResult.command}}</strong>
                </p>
                <p>Execution time: {{monkeyResult.timestamp}}</p>
            </td>
            <td>
                <span class="label label-success" ng-if="monkeyResult.error == 0">
                    <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                    success
                </span>
                <span class="label label-danger" ng-if="monkeyResult.error != 0">
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                    fails
                </span>
            </td>
            <td>
                <a href="/api/monkey/{{monkeyResult.file}}" rel="noopener noreferrer" TARGET="_blank">Log de Ejecución</a>
            </td>
        </tr>
    </tbody>
</table>
